%YAML 1.1
%TAG !u! tag:unity3d.com,2011:
--- !u!114 &11400000
MonoBehaviour:
  m_ObjectHideFlags: 0
  m_Script: {fileID: 0}
  m_Name: SDKConfig
  apiBaseUrl: https://game-ai.cordee.ovh/api/v1/sdk/step
  defaultMode: remote
  enableOfflineFallback: 1
